.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 50px;
    column-gap: 24px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    column-gap: 10px;
}

.review-checkout-btn-underline {
    text-decoration: none;
}

.review-checkout-btn {
    width: 95%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF9900;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    margin: 10px auto;
    padding: 0 16px;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
}

.review-checkout-btn-icon {
    margin: 0 14px 0 90px;
}